body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color:white;
    transition: background-color 0.5s;
}

h1 {
    margin: 20px 0;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    color: white;
    transition: opacity 0.3s;
}

button#yellow {
    background-color: yellow;
}

button#orange {
    background-color: orange;
}

button#gray {
    background-color: gray;
}

button#blue {
    background-color:blue;
}

button#pink {
    background-color: pink;
}

button:hover {
    opacity: 0.8;
}